site_name: Malcolm Mill
site_url: https://malcolm-mill.github.io/

theme:
  name: material
  features:
    - navigation.sections
    - navigation.indexes
    - content.code.copy
    - toc.follow

plugins:
  - search
  - awesome-pages

markdown_extensions:
  - admonition
  - footnotes
  - tables
  - attr_list
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid

extra_javascript:
  - js/external-links.js

